<html>

<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

    * {
      box-sizing: border-box;
    }

    html {
      font-family: 'Rubik', sans-serif;
      font-size: 16px;
      -webkit-print-color-adjust: exact;
    }

    body {
      padding: 0px;
      margin: 0px;
      background-color: #FAFAFA;

      display: flex;
      flex-direction: column;
      height: 100%;

      /* 100vh + footer */
      /* min-height: calc(100vh + 400px); */
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      margin: 0px;
    }

    ul,
    li {
      list-style: none;
      padding: 0px;
      margin: 0px;
    }

    img {
      display: block;
      max-width: 100%;
    }

    button:focus {
      visibility: hidden;
    }

    button,
    input {
      display: block;
    }

    button {
      all: unset;
    }

    .header {
      background-color: #181818;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
      padding: .625rem 0px;
      display: grid;
      place-content: center;
    }

    .header-wrapper {
      display: flex;
      align-items: center;
      gap: .75rem;
    }

    .campeonato-titulo {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1;
      color: #FEFEFF;
      text-align: center;
    }

    .partidas-section,
    .disputa {
      display: grid;
      place-content: center;
      margin: 0rem 1.5625rem;

      grid-template-columns: 1fr;
    }

    .disputa-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: .75rem;
      margin-top: 1.875rem;
    }

    .disputa-label,
    .responsavel-label {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1;
    }

    .disputa-label {
      color: #222222;
    }

    .responsavel-label {
      text-align: right;
      color: #6D6D6D;
    }

    .disputa-list {
      display: flex;
      flex-direction: column;
      gap: .3125rem;
    }

    .disputa-item {
      background-color: #3F0055;
      padding: .4375rem .625rem;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .disputa-item:nth-child(2n) {
      background-color: #04156E;
    }

    .time-disputa {
      font-size: 1rem;
      font-weight: 400;
    }

    .responsavel {
      font-weight: 300;
    }

    .time-disputa,
    .responsavel {
      line-height: 1;
      color: #FEFEFF;
    }

    .partidas-titulo {
      text-align: center;
      margin-top: 2.9375rem;
      margin-bottom: .9375rem;
      font-size: 1.5rem;
      line-height: 1;
      font-weight: 500;
    }

    .partidas-list {
      display: flex;
      flex-direction: column;
      gap: .3125rem;
    }

    .partida-item {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
    }

    .left {
      display: grid;
      grid-template-columns: 1fr auto;
    }

    .right {
      display: grid;
      place-content: end;
      grid-template-columns: auto 1fr;
    }

    .left .item-content {
      border-radius: 5px 0px 0px 5px;
      display: grid;
      justify-content: start;
      align-items: center;
    }

    .right .item-content {
      border-radius: 0px 5px 5px 0px;
      display: grid;
      justify-content: end;
      align-items: center;
    }

    .item-content {
      background-color: #2D2D2D;
      padding: .75rem .625rem;
    }

    .partida-item:nth-child(2n) .item-content {
      background-color: #1F1F1F;
    }

    .item-time {
      font-size: 1rem;
      line-height: 1;
      color: #FEFEFF;
      font-weight: 400;
    }

    .item-number-container {
      display: grid;
      place-content: center;
      padding: .8125rem .9375rem;
      background-color: #181818;
    }

    .item-number {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1;
      width: 1rem;
      display: flex;
      justify-content: center;
      color: #FEFEFF;
    }

    .item-number.win {
      color: #54C74B;
    }

    .item-number.loose {
      color: #FF4848;
    }

    .draw .item-number-container .item-number {
      color: #FFF845;
    }

    .divisor {
      width: .0625rem;
      background-color: #313131;
      height: 100%;
    }

    .logo-container {
      position: absolute;
      bottom: 5px;
      right: 0;
      opacity: 70%;
    }
  </style>
</head>

<body>
  <header class="header">
    <div class="header-wrapper">
      <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.5 18.3334C9.36113 18.3334 8.28474 18.1146 7.27085 17.6771C6.25696 17.2396 5.37155 16.6424 4.6146 15.8854C3.85766 15.1285 3.26044 14.2431 2.82294 13.2292C2.38544 12.2153 2.16669 11.1389 2.16669 10C2.16669 8.84724 2.38544 7.76738 2.82294 6.76044C3.26044 5.75349 3.85766 4.87155 4.6146 4.1146C5.37155 3.35766 6.25696 2.76044 7.27085 2.32294C8.28474 1.88544 9.36113 1.66669 10.5 1.66669C11.6528 1.66669 12.7327 1.88544 13.7396 2.32294C14.7465 2.76044 15.6285 3.35766 16.3854 4.1146C17.1424 4.87155 17.7396 5.75349 18.1771 6.76044C18.6146 7.76738 18.8334 8.84724 18.8334 10C18.8334 11.1389 18.6146 12.2153 18.1771 13.2292C17.7396 14.2431 17.1424 15.1285 16.3854 15.8854C15.6285 16.6424 14.7465 17.2396 13.7396 17.6771C12.7327 18.1146 11.6528 18.3334 10.5 18.3334ZM14.7709 8.06252L16.2084 7.56252L16.5834 6.22919C16.1111 5.49308 15.5278 4.8646 14.8334 4.34377C14.1389 3.82294 13.3542 3.42363 12.4792 3.14585L11.125 4.04169V5.50002L14.7709 8.06252ZM6.25002 8.06252L9.87502 5.50002V4.04169L8.54169 3.14585C7.66669 3.42363 6.88196 3.82294 6.18752 4.34377C5.49308 4.8646 4.90974 5.49308 4.43752 6.22919L4.89585 7.56252L6.25002 8.06252ZM5.12502 14.7292L6.37502 14.5834L7.18752 13.2292L5.89585 9.25002L4.41669 8.75002L3.41669 9.56252C3.41669 10.5625 3.5278 11.4757 3.75002 12.3021C3.97224 13.1285 4.43058 13.9375 5.12502 14.7292ZM10.5 17.0834C10.875 17.0834 11.2535 17.0486 11.6354 16.9792C12.0174 16.9097 12.4167 16.8195 12.8334 16.7084L13.5209 15.2084L12.8542 14.0625H8.16669L7.50002 15.2084L8.18752 16.7084C8.54863 16.8195 8.93058 16.9097 9.33335 16.9792C9.73613 17.0486 10.125 17.0834 10.5 17.0834ZM8.29169 12.8125H12.625L13.8959 9.00002L10.5 6.56252L7.04169 9.00002L8.29169 12.8125ZM15.8959 14.7292C16.5764 13.9375 17.0278 13.1285 17.25 12.3021C17.4722 11.4757 17.5834 10.5625 17.5834 9.56252L16.5834 8.87502L15.125 9.25002L13.8334 13.2292L14.625 14.5834L15.8959 14.7292Z" fill="#FEFEFF" />
      </svg>

      <h1 class="campeonato-titulo">
        <%= data?.campeonatoNome %>
      </h1>

      <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.5 18.3334C9.36113 18.3334 8.28474 18.1146 7.27085 17.6771C6.25696 17.2396 5.37155 16.6424 4.6146 15.8854C3.85766 15.1285 3.26044 14.2431 2.82294 13.2292C2.38544 12.2153 2.16669 11.1389 2.16669 10C2.16669 8.84724 2.38544 7.76738 2.82294 6.76044C3.26044 5.75349 3.85766 4.87155 4.6146 4.1146C5.37155 3.35766 6.25696 2.76044 7.27085 2.32294C8.28474 1.88544 9.36113 1.66669 10.5 1.66669C11.6528 1.66669 12.7327 1.88544 13.7396 2.32294C14.7465 2.76044 15.6285 3.35766 16.3854 4.1146C17.1424 4.87155 17.7396 5.75349 18.1771 6.76044C18.6146 7.76738 18.8334 8.84724 18.8334 10C18.8334 11.1389 18.6146 12.2153 18.1771 13.2292C17.7396 14.2431 17.1424 15.1285 16.3854 15.8854C15.6285 16.6424 14.7465 17.2396 13.7396 17.6771C12.7327 18.1146 11.6528 18.3334 10.5 18.3334ZM14.7709 8.06252L16.2084 7.56252L16.5834 6.22919C16.1111 5.49308 15.5278 4.8646 14.8334 4.34377C14.1389 3.82294 13.3542 3.42363 12.4792 3.14585L11.125 4.04169V5.50002L14.7709 8.06252ZM6.25002 8.06252L9.87502 5.50002V4.04169L8.54169 3.14585C7.66669 3.42363 6.88196 3.82294 6.18752 4.34377C5.49308 4.8646 4.90974 5.49308 4.43752 6.22919L4.89585 7.56252L6.25002 8.06252ZM5.12502 14.7292L6.37502 14.5834L7.18752 13.2292L5.89585 9.25002L4.41669 8.75002L3.41669 9.56252C3.41669 10.5625 3.5278 11.4757 3.75002 12.3021C3.97224 13.1285 4.43058 13.9375 5.12502 14.7292ZM10.5 17.0834C10.875 17.0834 11.2535 17.0486 11.6354 16.9792C12.0174 16.9097 12.4167 16.8195 12.8334 16.7084L13.5209 15.2084L12.8542 14.0625H8.16669L7.50002 15.2084L8.18752 16.7084C8.54863 16.8195 8.93058 16.9097 9.33335 16.9792C9.73613 17.0486 10.125 17.0834 10.5 17.0834ZM8.29169 12.8125H12.625L13.8959 9.00002L10.5 6.56252L7.04169 9.00002L8.29169 12.8125ZM15.8959 14.7292C16.5764 13.9375 17.0278 13.1285 17.25 12.3021C17.4722 11.4757 17.5834 10.5625 17.5834 9.56252L16.5834 8.87502L15.125 9.25002L13.8334 13.2292L14.625 14.5834L15.8959 14.7292Z" fill="#FEFEFF" />
      </svg>
    </div>
  </header>

  <section class="disputa">
    <div class="disputa-wrapper">
      <div class="disputa-top">
        <p class="disputa-label">Times na disputa</p>
        <p class="responsavel-label">Responsável</p>
      </div>

      <ul class="disputa-list">
        <% data?.times.forEach(function(timeAtual) { %>
          <li class="disputa-item">
            <p class="time-disputa">
              <%= timeAtual.nome %>
            </p>
            <p class="responsavel">
              <%= timeAtual.responsavel %>
            </p>
          </li>
          <% }); %>
      </ul>
    </div>
  </section>

  <section class="partidas-section">
    <h1 class="partidas-titulo">Partidas realizadas</h1>
    <ul class="partidas-list">
      <% data?.partidas.forEach(function(partidaAtual) { %>
        <li class="partida-item <% if (partidaAtual?.times[0].gols == partidaAtual?.times[1].gols) { %>draw<% } %>">
          <div class="left">
            <div class="item-content">
              <p class="item-time">
                <%= partidaAtual?.times[0].nome %>
              </p>
            </div>
            <div class="item-number-container">
              <p class="item-number <% if (partidaAtual?.times[0].gols > partidaAtual?.times[1].gols) { %>win<% } else { %>loose<% } %>">
                <%= partidaAtual?.times[0].gols %>
              </p>
            </div>
          </div>
          <div class="divisor"></div>
          <div class="right">
            <div class="item-number-container">
              <p class="item-number <% if (partidaAtual?.times[1].gols > partidaAtual?.times[0].gols) { %>win<% } else { %>loose<% } %>">
                <%= partidaAtual?.times[1].gols %>
              </p>
            </div>
            <div class="item-content">
              <p class="item-time">
                <%= partidaAtual?.times[1].nome %>
              </p>
            </div>
          </div>
        </li>
        <% }); %>
    </ul>
  </section>

  <div class="logo-container">
    <svg width="100" height="95" viewBox="0 0 100 95" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M37.6444 15.4074C40.7259 14.6759 43.8574 14.1389 47.0222 13.9722C48.4463 13.8204 49.8685 14.0444 51.2889 14.113C55.3037 14.5741 59.3426 15.4963 62.8944 17.487C66.4833 19.45 69.7926 22.0741 72.1074 25.4815C72.6074 26.387 73.3278 27.1556 73.7778 28.0889C74.2926 29.3296 74.6241 30.6722 74.4704 32.0241C74.1241 35.1778 72.6296 38.1593 70.4278 40.4278C69.5018 41.2315 68.7018 42.2074 67.6018 42.787C66.5555 43.3611 65.55 44.0222 64.4315 44.4481C63.3944 44.8852 62.3074 45.187 61.2352 45.5167C59.9055 45.8148 58.55 45.9704 57.2018 46.1426C55.4 46.287 53.587 46.3037 51.8 46.5926C51.1703 46.7018 50.5315 46.7426 49.8944 46.7222C50.5055 45.513 50.9111 44.2185 51.4796 42.9907C53.1352 39.3315 54.5259 35.4259 57.25 32.387C56.8148 31.2593 55.9352 30.3685 55.1537 29.4667C54.5074 28.687 53.6944 28.0796 52.9018 27.4611C50.5333 25.3926 47.6963 23.913 44.737 22.8926C40.7148 21.6389 36.4407 20.6778 32.2204 21.3722C30.7166 21.5222 29.2815 22.0278 27.8481 22.4833C25.7278 23.1704 23.8815 24.4611 22.0833 25.7426C23.4055 23.8407 25.1055 22.2333 26.8944 20.7759C27.9963 19.8593 29.3074 19.2574 30.4852 18.45C32.7648 17.2093 35.1481 16.1333 37.6444 15.4074Z" fill="#04156F" />
      <path d="M32.6111 29.8333C34.7037 28.1518 37.4 27.513 40.0092 27.1778C40.8111 27.063 41.6092 27.2778 42.3778 27.487C43.4074 27.8111 44.5 28.0315 45.4092 28.6463C46.1703 29.1667 46.8722 29.7889 47.4315 30.5278C48.0592 31.4241 48.4185 32.4704 48.7055 33.5185C48.8611 34.2944 49.7241 34.4852 50.2537 34.9389C51 35.5685 51.8333 36.287 51.95 37.3241C51.0852 37.0037 50.4 36.2889 49.4611 36.163C47.4426 35.6852 45.3611 36.4444 43.7092 37.5907C43.1759 38.0574 42.7926 38.687 42.5241 39.337C41.9444 41.1944 42.6852 43.3222 44.1796 44.5333C45.3444 45.4778 46.7592 46.1037 48.2185 46.4241C48.5703 46.5074 48.8981 46.6611 49.2074 46.85C47.7166 46.8926 46.2185 46.8185 44.7444 46.6018C43.3222 46.4222 42.2574 45.2556 41.7018 44.0056C40.8703 43.9796 40.3444 44.6926 39.6518 45.0315C38.8426 45.4426 38.0926 45.9796 37.2278 46.2796C36.4666 46.5648 35.6296 46.8444 35.1018 47.5018C34.7944 48.2037 35.4018 48.863 35.8037 49.3852C36.3759 49.9593 36.9611 50.6444 37.787 50.8333C39.1037 50.8593 40.4185 50.6278 41.6852 50.2667C43.7166 49.8241 45.7648 49.4537 47.8148 49.0926C50.7629 48.337 53.8148 48.0167 56.8555 48.0037C58.4907 48.1389 60.1333 48.0778 61.7703 48.0241C64.4611 47.9018 67.0963 47.237 69.5926 46.25C70.9889 45.9056 72.1037 44.9981 73.2555 44.1963C72.5889 45.0704 72.0666 46.0444 71.3463 46.8778C70.437 47.9 69.4185 48.837 68.2592 49.5685C66.2518 50.963 64.0315 52.0148 61.7407 52.85C59.0278 53.7037 56.1703 54.0333 53.3315 53.9555C50.4889 53.8981 47.6426 53.7518 44.8278 53.3518C43.5833 53.2518 42.337 53.1056 41.1241 52.8037C39.6852 52.4167 38.1537 52.2537 36.8518 51.4759C35.5222 50.6907 34.3852 49.5426 33.6778 48.1667C33.3796 47.4463 32.5074 47.3704 31.9463 46.9352C31.2518 46.5407 30.7981 45.8741 30.3 45.2741C28.8296 43.7944 28.0389 41.7 28.0018 39.6278C28.0463 36.9963 28.8796 34.3833 30.337 32.1944C31.0203 31.3407 31.6852 30.4426 32.6111 29.8333ZM36.8778 29.4741C36.2055 30.0222 35.4907 30.7389 35.5203 31.6741C35.3741 32.6204 35.9166 33.5518 36.7092 34.0444C37.6352 34.6444 38.7037 34.9759 39.6574 35.5278C40.3944 35.9667 41.1259 36.413 41.8574 36.863C43.5648 35.8611 45.4815 35.263 47.1148 34.1333C47.3296 32.7519 46.6241 31.3926 45.6926 30.4185C44.3 28.9259 42.1703 28.3963 40.1889 28.4111C39.0259 28.4833 37.7907 28.6907 36.8778 29.4741ZM31.55 32.1259C30.4815 33.5111 29.7185 35.1407 29.4574 36.8778C30.4722 36.9426 31.5203 36.8593 32.4278 36.3574C33.2815 36.0185 33.8222 35.2463 34.3796 34.5593C34.8592 33.9296 34.6074 33.1056 34.3944 32.4241C34.1092 31.6259 33.8481 30.8167 33.5333 30.0296C32.85 30.7074 32.2037 31.4204 31.55 32.1259ZM35.137 36.0593C34.2963 36.2907 33.7222 36.987 33.0259 37.463C32.3018 37.95 31.5796 38.4389 30.8278 38.8796C30.3648 38.637 29.8981 38.4018 29.4315 38.1704C29.3537 40.3407 29.3148 42.8056 30.8574 44.5315C32.1 45.513 33.8092 46.0667 35.3629 45.5537C36.9629 45.0296 38.4722 44.1963 39.7555 43.1018C40.4333 42.2796 41.0574 41.2907 41.0296 40.1852C41.0833 39.3037 40.7241 38.45 40.237 37.7352C39.6778 36.9741 38.7315 36.7074 37.9129 36.3278C37.0555 35.9222 36.0537 35.7426 35.137 36.0593Z" fill="#3F0055" />
      <path d="M24.7296 32.1389C25.4629 31.4778 26.0778 30.6722 26.9426 30.163C26.3907 31.3574 25.5444 32.3907 25.0685 33.6222C24.2315 35.587 23.5185 37.6315 23.2704 39.763C22.5963 43.2481 23.0592 46.8185 23.8055 50.25C25.3981 56.237 28.7278 61.6556 32.8759 66.2111C34.6685 68.0611 36.5963 69.7889 38.6685 71.3241C40.0055 72.3889 41.5629 73.1185 43.0018 74.0296C45.5129 75.4648 48.2518 76.4222 50.9759 77.3611C53.8555 78.1704 56.8148 78.7963 59.8166 78.8556C61.4333 79.0056 63.0444 78.7278 64.6463 78.5278C62.9537 79.0537 61.3315 79.7981 59.5833 80.1315C57.5185 80.537 55.437 80.8722 53.3444 81.0944C50.3259 81.2759 47.2648 81.2148 44.3055 80.5407C42.6611 80.1852 40.9666 79.9556 39.4148 79.2778C34.3815 77.6019 29.6833 74.8537 25.8444 71.1815C22.4463 67.9019 19.5241 64.0333 17.7944 59.6148C17.3352 58.4889 16.8111 57.3685 16.6111 56.1611C15.587 52.0352 15.6963 47.5944 17.1704 43.5907C17.9166 41.8111 18.7241 40.0519 19.6629 38.3648C20.5611 36.9944 21.5111 35.6537 22.5315 34.3741C23.2722 33.637 23.9296 32.8167 24.7296 32.1389Z" fill="#04156F" />
      <path d="M74.7889 22.6648C76.0296 23.4778 76.9852 24.6426 77.9648 25.7426C80.0778 28.0704 81.6741 30.8167 83.0204 33.6444C83.6593 35.2259 84.2259 36.8407 84.6722 38.487C84.9426 39.5426 85.0167 40.637 85.3315 41.6833C85.6241 44.187 85.8908 46.7222 85.6222 49.2426C85.4352 51.0259 85.1371 52.8 84.7371 54.5463C83.9574 56.8722 83.2815 59.2778 81.9408 61.3611C80.6871 63.5426 79.2111 65.6296 77.2908 67.2796C75.8574 68.5 74.3167 69.637 72.5704 70.3685C68.5704 72.1111 64.1704 72.8204 59.8204 72.6778C57.3778 72.7204 54.9556 72.35 52.5648 71.8944C49.8778 71.1074 47.2019 70.1704 44.7982 68.7111C42.5852 67.4222 40.5352 65.8593 38.6685 64.1074C36.1926 61.6685 34.0852 58.8722 32.2278 55.9389C31.5241 54.887 31.0352 53.6778 30.0852 52.8093C31.8574 53.5944 33.6778 54.2667 35.5352 54.8167C37.5408 55.5741 39.6463 55.9926 41.6963 56.6018C44.1704 57.1537 46.6759 57.587 49.2 57.8278C50.6445 57.9981 52.1037 57.9056 53.55 58.0519C56.1759 57.9852 58.7759 57.5296 61.3167 56.8833C64.1982 55.9741 67.0389 54.8037 69.4908 53.0074C71.1185 51.963 72.4296 50.5148 73.7315 49.1037C74.7056 48.1037 75.3815 46.8648 75.9945 45.6241C77.9889 41.6852 78.7463 37.1352 78.1074 32.7648C77.9019 30.5537 77.3889 28.3574 76.4426 26.3426C75.9259 25.1 75.4926 23.8185 74.7889 22.6648Z" fill="#3F0055" />
    </svg>
  </div>
</body>

</html>